:root {
  --speed: 0.5s;
}

* {
  padding: 0;
  margin: 0;
  font-size: 4vh;
}

body {
  background-color: #2e2e38;
  display: flex;
  justify-content: center;
}

main {
  background-color: #fffafb;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: 100%;
  padding: 0 10vh;
}

#char {
  font-size: 15vh;
  text-align: center;
  transition: opacity var(--speed);
}

button {
  margin: 3vh;
  width: 40vh;
  height: 7vh;
  border: 1px solid #db002c;
  border-radius: 10px;
  display: table;
  user-select: none;
}

button:read-only {
  color: black;
} 

input {
  text-align: center;
  border: 1px solid #db002c;
  border-radius: 10px;
}

.plusminus {
  margin: 0;
  font-family: monospace;
  width: 10vh;
  height: 7vh;
  font-size: 6vh;
}

.ok {
  background-color: #88ff4d;
  transition: background-color var(--speed);
}

.bad {
  background-color: #ff4d70;
  transition: background-color var(--speed);
}

.default {
  background-color: #ffccd6;
  transition: background-color var(--speed);
}

#quizcfg {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10vh;
}

select {
  width: 100%;
  text-align-last: center;
  border-radius: 10px;
  border: 1px solid #db002c;
}

.logo {
  background-color: #ffccd6;
  margin: 0 -10vh;
  padding: 0vh 5vh;
}

#quiztable {
  text-align: center;
  height: 45vh;
  overflow-y: scroll;
  margin-bottom: 2vh;
}